.venv
env/
venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.swp
*.swo
pip-wheel-metadata/
build/
dist/
*.egg-info/
*.egg
*.eggs
.Python
.env
.venv
ENV/
env.bak/
.pytest_cache/
.mypy_cache/
.tox/
coverage/
htmlcov/
.cache/
.DS_Store
*.log
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
Dockerfile
docker-compose*.yml
crds/
*.pem
*.key
*.crt
tests/
.gitignore