name: test

on: pull_request

jobs:
  create-cluster:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      
      - name: Set up Python
        uses: actions/setup-python@v5 # uses .python-version file by default
      
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      
      - name: Install dependencies
        run: uv sync
      
      - name: Create k8s Kind Cluster
        uses: helm/kind-action@v1

      # TODO: setup airflow in the cluster for integration tests  
      - name: Run operator test
        run: uv run pytest tests/operator_test.py
